<%- include('./partials/header') -%>
<div class="container">
  <div class="mt-4 p-4 text-center text-white jumbo">
    <h1>Node Google Drive Upload</h1>
    <p>Login or Register with:</p>
    <a href="<%=url%>" class="btn btn-danger"
      ><span class="fab fa-google"></span> Google</a
    >
  </div>
</div>
<%- include('./partials/footer') %>
