.jumbo {
  border-radius: 25px;
  background-color: #03c6c7;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: #aa4b6b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
}

.success-head {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.profile-head {
  background-color: rgb(240, 240, 240);
  color: black;
  height: 100vh;
}

.carding {
  margin-top: 2.5rem;
  margin-left: 2rem;
}

.card-img-top {
  width: 100% !important;
  height: 100% !important;
}
